body{
    background-color: white;
    min-width: 400px;
    /* max-width: 1920px; */
}

#section1{
    width: auto;
    height:400px;
    background: linear-gradient(127.31deg, #FCCA3A 17.61%, #FCCA3A 17.61%, #A752A0 91.2%);
}

#section2{
    width: auto;
    height: 500px;
}

#yellowBlock{
    height: 200px;
    width: auto;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FCCA3A;
    text-align: center;
}

#textInsideyellowBox{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 24px;
    color: #435165;
}

#section3{
    width: auto;
    height: auto;
}

#section3IMGS{
    width: 50%;
}

#section3BigText{
    font-family: 'Inter';
    font-style: bold;
    font-weight: 400;
    font-size: 23px;
    line-height: 24px;
    color: #435165;
}

#section3BigText2{
    font-family: 'Inter';
    font-style: bold;
    font-weight: 400;
    font-size: 35px;
    line-height: 24px;
    color: #435165;
    text-align: center;
}
#yellowlineSection3{
    width: 350px;
    height: 5px;
    background: #FCCA3A;
    margin: auto;
}

#section4{
    width: auto;
    height: 500px;
}

#section456IMGS{
    width: 40%;
}

#section5{
    width: auto;
    height: 500px;
}
.column{
    float: left;
    width: 50%;
    padding: 10px;
    height: 500px;
}
.row:after{
    content: "";
    display: table;
    clear:both;
}


#section6{
    width: auto;
    height: 500px;
}
#section8{
    background-color: #FCCA3A;
}
#section8Text{
    font-family: 'DM Sans';
    font-style:normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color:#435165;
    text-align: center;
}

footer{
    background-color: #435465 ;
    height: 300px;
    width: auto;
}
#footerTextBig{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 52px;
}

#FooterRow{
    height: 200px;
}

#FooterColumn{
    background-color: #435465 ;
    height: 300px;
    width: 50%;
    float: left;
}

#FooterImg{
    width: 50%;
}

#FooterResourcestxt{
    color:white;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
}

.FooterLinks{
    color: white;
}

/* YELLOW LINES */
/* UNDERLINING SOME WORDS*/

/*yellowline for programming*/
#yellowline{
position: absolute;
width: 150px;
height: 5px;
background: #FCCA3A;
}

/*yellowline for design*/
#yellowline2{
 position: absolute;
 width: 135px;
height: 5px;
background: #FCCA3A;
 }
 
/*yellowline for digital art*/
#yellowline3{
    position: absolute;
    width: 220px;
    height: 5px;
    background: #FCCA3A;
}

/*THIS MAKE TITLE BIG AND ACCORDING TO FONT STANDARD*/
/*only for 3 sections*/
.sectionHeading{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color:#435165;
 }

/*THIS MAKES TEXT IN SOME SECTIONS TO BE DIFFERENT*/
 .sectionText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
  }

 #PageTitle{
 /* Interactive Digital Art and Design */
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'DM Sans';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 83px;
}

/*--------------*/

#COLUMN{
    float: left;
    width: 33%;
    padding: 5px;
}

#ROWS::after{
    content: "";
    clear: both;
    display: table;
    max-height: 700px;
}
/*------------------*/


/*SOCIAL MEDIA ICONS */

.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: right;
    text-decoration: none;
    margin: 2px 2px;
}

.fa-facebook{
    color: white;
}
.fa-twitter{
    color: white;
}
.fa-instagram{
    color: white;
}
.fa-linkedin{
    color: white ;
}
.fa-youtube{
    color:white;
}


#setuLOGO{
    width: 350px;
}

@media only screen and (min-width:1000px){

    /*THIS MAKES TEXT IN SOME SECTIONS TO BE DIFFERENT*/
 .sectionText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 32px;
    color: #FFFFFF;
  }

  #textInsideyellowBox{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 34px;
    color: #435165;
    }


    #PageTitle{
        /* Interactive Digital Art and Design */
        color: white;
        font-size: 50px;
        text-align: center;
        font-family: 'DM Sans';
        font-size: 70px;
        font-style: normal;
        font-weight: 700;
        line-height: 83px;
        margin-top: 70px;
    }

    #section3IMGS{
        max-width: 50%;
    }

}


@media only screen and (max-width:470px){

    /*THIS MAKES TEXT IN SOME SECTIONS TO BE DIFFERENT*/
    .sectionText{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 19px;
        color: #FFFFFF;
    }

    /*yellowline for digital art*/
    #yellowline3{
        position: absolute;
        width: 180px;
        height: 5px;
        background: #FCCA3A;
    }

    #section456IMGS{
        width: 60%;
    }



}

/*=======================================================*/
/*SLIDING IMGS */

.container{
    padding: 10px;
    max-height: 4%;
}

.slider-wrapper{
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}

.slider{
    display: flex;
    /* aspect-ratio: 16/9; */
    height: 700px;
    width: 500px;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%, 0%, 0.25);
    border-radius: 0.5rem;
    margin: auto;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: fill;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left:50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 75%;
    transition: opacity ease 250ms;
}






